img {
    width : 15px;
    align-content: flex-end;
}


body  {
    background-color: black;
    color : white;
    margin-left : 20px;
}



.container {
    display: table;
    text-align: center;
}

.row  {
    width : 100%;
    height: 100%;
    display: table-row;
}

.cal {
    border-collapse: collapse;
    padding-top: 2px;
    padding-bottom: 2px;
    height : 30px;
    outline: 1px solid;
    display: table-cell;
    min-width : 80px;
    vertical-align: middle;
}

.montant {
    border-collapse: collapse;
    height : 30px;
    outline: 1px solid;
    display: table-cell;
    min-width : 80px;
    vertical-align: middle;
}


.compte {
    white-space: nowrap;
    border-collapse: collapse;
    height : 30px;
    outline: 1px solid;
    display: table-cell;
    vertical-align: middle;
}

/*
.rotate {
    min-width : 0px;
    max-width : 20px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}


.rotate img {
    display: none;
}*/